 <% if @items.empty? %>
          <p>Empty list add a new item</p>

      <% else %>
      
      <div class="row">
        <div class="col-md-12">
          <%= link_to "Add New", new_item_path, class: "btn btn-danger" %>
        </div>
      </div>
      <div class="row">
        <div class="owee-tile">

        


          <% @items.each_with_index do |item, index| %>

              <% if index % 4 == 0 %>
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="owee-tile">

                          <div class="col-md-3">
                          <%= link_to item do%>
                            <%= image_tag 'max.jpg' %>
                          <% end %>
                          <h4><a href="#"><%= item.name %></a></h4>
                          <p><a href="#"><%= item.category %></a></p>
                          <div class="due">
                           <p><a href="#">Jano</a></p>
                            <p class="pull-rght">Due: <span class="date"><%= item.due_date %></span></p>
                          </div>
                          <div class="pricestat">
                            <p><span class="price pull-left">$<%= item.value %></span></p>
                            <p><span class="status status-lent pull-right">Still Lent</span></p>
                          </div>
                        </div>


              <% else %>

                <div class="col-md-3">
                          
                          <%= link_to item do%>
                            <%= image_tag 'max.jpg' %>
                          <% end %>
                          <h4><a href="#"><%= item.name %></a></h4>
                          <p><a href="#"><%= item.category %></a></p>
                          <div class="due">
                           <p><a href="#">Jano</a></p>
                            <p class="pull-rght">Due: <span class="date"><%= item.due_date %></span></p>
                          </div>
                          <div class="pricestat">
                            <p><span class="price pull-left">$<%= item.value %></span></p>
                            <p><span class="status status-lent pull-right">Still Lent</span></p>
                          </div>
                        </div>

              <% end %>

            <% end %>

          <% end %>