 <div class="profile-top">
   <div class="container">
          <div class="row">
       <div class="col-md-4 profile-img">
         <%= image_tag "placeholder.gif", class: "img-circle" %>
       </div>
       <div class="col-md-8">
         <h4>User_one <a href="" class="btn btn-default">FOLLOW</a></h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, necessitatibus.</p>
         <div class="row">
           <div class="col-md-6">
             <div class="row">
               <div class="col-md-4"><p><b>289</b> owees</p></div>
               <div class="col-md-4"><p><b>26589</b> hearts</p></div>
               <div class="col-md-4"><p><b>512k </b>followers</p></div>
             </div>

             <div class="row">
               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>
               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

             </div>
           </div>

           <div class="col-md-6"></div>
         </div>
       </div>
     </div>
   </div>
 </div>


 <div class="main-content">
    <div class="container">
      
        <%= render "item_tile" %>

        </div>
      </div>
      <hr>

    </div>
  </div>