 <div class="profile-top">
   <div class="container">
          <div class="row">
       <div class="col-md-4 profile-img">
         <%= image_tag "placeholder.gif" %>
       </div>
       <div class="col-md-8">
         <h4>User_one <a href="" class="btn btn-default">FOLLOW</a></h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, necessitatibus.</p>
         <div class="row">
           <div class="col-md-6">
             <div class="row">
               <div class="col-md-4"><p><b>289</b> owees</p></div>
               <div class="col-md-4"><p><b>26589</b> hearts</p></div>
               <div class="col-md-4"><p><b>512k </b>followers</p></div>
             </div>

             <div class="row">
               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>
               <div class="col-md-2">
                 <a href="#" class="profile-thumbnail"><%= image_tag 'bag.png' %></a>
               </div>

             </div>
           </div>

           <div class="col-md-6"></div>
         </div>
       </div>
     </div>
   </div>
 </div>


 <div class="main-content">
    <div class="container">

      <p>Showing results in Category1,Category2, Category3</p>
      <div class="row">
        <div class="owee-tile">

          <div class="col-md-3">
            <%= image_tag 'max.jpg' %>
            <h4><a href="#">Air Max Triax</a></h4>
            <p><a href="#">Shoes</a></p>
            <div class="due">
             <p><a href="#">Jano</a></p>
              <p class="pull-rght">Due: <span class="date">28/06/2015</span></p>
            </div>
            <div class="pricestat">
              <p><span class="price pull-left">$27.00</span></p>
              <p><span class="status status-lent pull-right">Still Lent</span></p>
            </div>
          </div>

          


        </div>
      </div>
      <hr>
    </div>
  </div>